*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.container{
  background-color:lightgray;
  min-height:100vh;
  border:10px solid #1d1e4c;

}
.content{
  max-width:700px;
  margin:0 auto;
}
.sec1{
  display:flex;
  justify-content:space-between;
  margin-top:80px;
    align-items:flex-end;

  text-transform:uppercase;
}
.img_title ,img{
  width:300px;
  height:300px;
  border-radius:50%;
  
}

.sec1 h4{
 text-align:end;
}
.sec1 h1{
  font-size:24px;
  
}
.main_cont{
  margin-top:40px;
}

.main_cont h5{
margin-bottom:30px;
font-size:30px;

}
.main_cont p{
line-height:25px;
letter-spacing:2px;
  
}
.bio{
  margin-top:30px;
line-height:25px;
letter-spacing:1.2px;
}
.bio b{
  font-size:24px;
  font-weight:3px;
}
.bio ul{
  margin-top:20px;
}
.
.bio p{
  font-size:20px;
  padding-bottom:30px;


}
footer{
  padding-top:40px;
  padding-bottom:20px;
  text-align:right;
}